* {
  box-sizing: border-box;
  list-style: none;
  outline: none;
  font-size: 10px;
}

.section-container h2 {
  font-size: 2.4rem;
}

.button {
  font-size: 1.6rem;
  cursor: pointer;
  color: #fff;
  text-transform: capitalize;
  border: none;
  border-radius: 1rem;
}

.button.button-primary {
  width: 140px;
  height: 44px;
  background-color: rgb(88, 88, 249);
}

.result-container {
  height: 10rem;
  padding: 1rem 2rem;
  background-color: lightgreen;
  border-radius: 1.6rem;
  margin-top: 1rem;
}

.result-container.high {
  height: 44rem;
}

.result-container p {
  font-size: 1.6rem;
}

.form-input-group {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1rem;
}

.input-group input {
  height: 4rem;
  width: 20rem;
  padding: 0 1rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  border: thin solid #dbdbdb;
}

.div-container {
  height: 4rem;
  width: 100%;
  padding: 0 1rem;
  line-height: 4rem;
  font-size: 1.6rem;
  color: #fff;
}

.div-container.odd-div {
  background-color: blue;
}

.div-container.even-div {
  background-color: red;
}
